## PREPROCESSING AND PREPARING DATA FOR MODELS

<!-- -- -->

In [19]:
import pandas as pd 
import numpy as np

import os 
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df = pd.read_csv("/Users/sarthaksharna/AutoNews/data/cleaned/cleaned_data.csv")
df.head()

,text,label,cleaned_text
0,Musicians to tackle US red tape\n\nMusicians' ...,entertainment,musicians to tackle us red tape musicians grou...
1,"U2's desire to be number one\n\nU2, who have w...",entertainment,u2s desire to be number one u2 who have won th...
2,Rocker Doherty in on-stage fight\n\nRock singe...,entertainment,rocker doherty in onstage fight rock singer pe...
3,Snicket tops US box office chart\n\nThe film a...,entertainment,snicket tops us box office chart the film adap...
4,Ocean's Twelve raids box office\n\nOcean's Twe...,entertainment,oceans twelve raids box office oceans twelve t...

<!-- --- -->

In [9]:
ARTIFACTS_PATH = "../artifacts"
os.makedirs(ARTIFACTS_PATH, exist_ok = True)

In [ ]:
VOCAB_SIZE = 5000 
MAX_LEN = 200

<!-- -- -->

In [3]:
X = df["cleaned_text"]
y = df["label"]

X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, stratify=y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1701,), (426,), (1701,), (426,))

In [11]:
y_train.value_counts()

label
sport            404
business         402
politics         322
entertainment    295
tech             278
Name: count, dtype: int64

<!-- ---- -->

SAVING LABEL ENCODER

In [ ]:
def label_encoder(y_train, y_test):
    """
    This function encodes the labels using LabelEncoder()
    """

    le = LabelEncoder()
    y_train = le.fit_transform(y_train)
    y_test = le.transform(y_test)
    return y_train, y_test, le

y_train, y_test, le = label_encoder(y_train, y_test)
y_train, y_test

with open(os.path.join(ARTIFACTS_PATH, "label_encoder.pkl"), "wb") as f:
    pickle.dump(le, f)

In [59]:
np.save(os.path.join(ARTIFACTS_PATH, "y_train.npy"), y_train)
np.save(os.path.join(ARTIFACTS_PATH, "y_test.npy"), y_test)

print("✓ Encoded labels saved!")

✓ Encoded labels saved!

In [22]:
print("class mapping: ")
label_map = {label: idx for idx, label in enumerate(le.classes_)}
label_map

class mapping:

{'business': 0, 'entertainment': 1, 'politics': 2, 'sport': 3, 'tech': 4}

<!-- --- -->

SAVING TOKENIZER

In [ ]:
def tokenization(X_train, X_test):
    """This function tokenizes the text data"""

    tokenizer = Tokenizer(num_words = VOCAB_SIZE, oov_token="<OOV>")
    tokenizer.fit_on_texts(X_train)

    X_train_seq = tokenizer.texts_to_sequences(X_train)
    X_test_seq = tokenizer.texts_to_sequences(X_test)

    return X_train_seq, X_test_seq, tokenizer


X_train_seq, X_test_seq, tokenizer = tokenization(X_train, X_test)

with open(os.path.join(ARTIFACTS_PATH, "tokenizer.pkl"), "wb") as f:
    pickle.dump(tokenizer, f)

In [31]:
print(X_train.iloc[0])
print(X_train_seq[0])

whitehall cuts ahead of target thousands of civil service jobs have already been cut or moved out of london as part of a major costcutting drive chancellor gordon brown said 12500 jobs had gone while 7800 were being moved out of the south east he plans to axe 104000 jobs to free up money for education health defence housing and overseas aid unions oppose the plans but mr brown said 2bn savings had already been made and more jobs had been cut than had been expected at this stage a further 200 jobs at the department of the environment food and rural affairs have been earmarked to be cut at the department for work and pensions 30000 jobs are to go 560 will be lost by the end of the month at the department of trade and industry and 400 are to go at the inland revenue and customs in his budget statement the chancellor said the first 12500 civil service jobs had been cut on target about 4300 civil servants will leave london and the south east by the end of march 2005 and there are plans to relocate another 3500 of those 300 department of health posts will go to yorkshire while hundreds at the department of culture will move to birmingham and newcastle mr brown also announced plans to merge 35 agencies into nine described by one civil service union as a bonfire of the quangos mark serwotka the leader of the public and commercial services union said in last years budget we had the day of the long knifes as the chancellor kicked off the crude game of who could cut the most civil service jobs between the government and the tories there was a time when the only worry thousands of hard working civil and public servants had on budget day was whether petrol or taxes would go up nowadays the worry is whether they will have a job by the end of it he said mr brown had made welcome announcements on closing tax loopholes and extending the new deal while cutting the very people who deliver them the treasury also announced plans to reduce the number of public sector workers on sick leave with a new system of checks and tougher measures against those suspected of abusing the system
[1, 784, 368, 4, 847, 1127, 4, 883, 200, 551, 20, 184, 40, 304, 53, 1128, 56, 4, 212, 18, 152, 4, 6, 393, 1, 796, 387, 738, 210, 12, 1, 551, 36, 841, 98, 1, 41, 89, 1128, 56, 4, 2, 371, 1006, 15, 170, 3, 1, 1, 551, 3, 518, 47, 198, 8, 677, 552, 884, 1240, 5, 1832, 547, 2129, 4688, 2, 170, 22, 30, 210, 12, 3417, 1494, 36, 184, 40, 91, 5, 42, 551, 36, 40, 304, 55, 36, 40, 174, 21, 35, 755, 6, 355, 1987, 551, 21, 2, 899, 4, 2, 1666, 1942, 5, 2382, 1376, 20, 40, 1, 3, 16, 304, 21, 2, 899, 8, 148, 5, 1353, 3869, 551, 25, 3, 136, 1, 24, 16, 281, 23, 2, 167, 4, 2, 271, 21, 2, 899, 4, 398, 5, 229, 5, 3870, 25, 3, 136, 21, 2, 1, 1450, 5, 4917, 7, 29, 394, 446, 2, 387, 12, 2, 65, 1, 883, 200, 551, 36, 40, 304, 11, 847, 49, 1, 883, 3182, 24, 961, 212, 5, 2, 371, 1006, 23, 2, 167, 4, 440, 206, 5, 52, 25, 170, 3, 1, 226, 1, 4, 139, 2877, 899, 4, 552, 4479, 24, 136, 3, 4689, 98, 1865, 21, 2, 899, 4, 1451, 24, 243, 3, 1452, 5, 1330, 30, 210, 43, 405, 170, 3, 3871, 1901, 2213, 72, 982, 1160, 23, 50, 883, 200, 610, 18, 6, 1, 4, 2, 3703, 456, 1, 2, 305, 4, 2, 168, 5, 1252, 217, 610, 12, 7, 63, 66, 394, 34, 36, 2, 228, 4, 2, 316, 1, 18, 2, 387, 2973, 149, 2, 1833, 88, 4, 44, 58, 304, 2, 112, 883, 200, 551, 141, 2, 76, 5, 2, 407, 52, 14, 6, 68, 64, 2, 81, 2493, 1127, 4, 406, 384, 883, 5, 168, 3182, 36, 11, 394, 228, 14, 310, 1, 53, 706, 37, 136, 47, 1, 2, 2493, 9, 310, 32, 24, 20, 6, 492, 23, 2, 167, 4, 13, 15, 12, 30, 210, 36, 91, 2690, 1, 11, 2691, 208, 1, 5, 4039, 2, 45, 203, 98, 1690, 2, 92, 48, 44, 1426, 80, 2, 1724, 43, 405, 170, 3, 1525, 2, 105, 4, 168, 929, 1253, 11, 1, 961, 17, 6, 45, 227, 4, 4918, 5, 4480, 1051, 78, 139, 3183, 4, 1, 2, 227]

In [43]:
print("Total unique words in corpus: ")
len(tokenizer.word_index)

Total unique words in corpus:

30808

In [53]:
print("Index assigned to '<OOV>' token: ")
tokenizer.word_index["<OOV>"]

Index assigned to '<OOV>' token:

1

In [49]:
print("Top 10 most frequent words: ")
for i in range(1, 11):
    print(f"{i}: '{tokenizer.index_word[i]}'")

Top 10 most frequent words:
1: '<OOV>'
2: 'the'
3: 'to'
4: 'of'
5: 'and'
6: 'a'
7: 'in'
8: 'for'
9: 'is'
10: 'that'

In [ ]:
total_words = len(tokenizer.word_index)

used_words = VOCAB_SIZE

oov_words = total_words - used_words

print(f"Total unique words: {total_words}")
print(f"Words used in vocab: {used_words}")
print(f"Words treated as OOV: {oov_words}")

Total unique words: 30808
Words used in vocab: 5000
Words treated as OOV: 25808

<!-- --- -->

SAVING PADDING

In [ ]:
def pad_seq(X_train_seq, X_test_seq):
    """This function pads the sequences with max length of 200"""

    X_train_pad = pad_sequences(X_train_seq, maxlen=MAX_LEN, padding="post", truncating="post")
    X_test_pad = pad_sequences(X_test_seq, maxlen=MAX_LEN, padding="post", truncating="post")
    return X_train_pad, X_test_pad 


X_train_pad, X_test_pad = pad_seq(X_train_seq, X_test_seq)

In [57]:
np.save(os.path.join(ARTIFACTS_PATH, "X_train_pad.npy"), X_train_pad)
np.save(os.path.join(ARTIFACTS_PATH, "X_test_pad.npy"), X_test_pad)

print("✓ Padded sequences saved!")

✓ Padded sequences saved!

In [58]:
X_train_pad.shape, X_test_pad.shape

((1701, 200), (426, 200))

<!-- ----- -->