# BASELINE LSTM MODEL

<!-- -- -->

In [ ]:
import os 
import pandas as pd
import pickle


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from tensorflow.kera.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

<!-- -- -->

In [ ]:
print("hi")

Loading Cleaned Dataset

In [ ]:
df = pd.read_csv("/Users/sarthaksharna/AutoNews/data/cleaned/cleaned_data.csv")

df.head()

,text,label,cleaned_text
0,Musicians to tackle US red tape\n\nMusicians' ...,entertainment,musicians to tackle us red tape musicians grou...
1,"U2's desire to be number one\n\nU2, who have w...",entertainment,u2s desire to be number one u2 who have won th...
2,Rocker Doherty in on-stage fight\n\nRock singe...,entertainment,rocker doherty in onstage fight rock singer pe...
3,Snicket tops US box office chart\n\nThe film a...,entertainment,snicket tops us box office chart the film adap...
4,Ocean's Twelve raids box office\n\nOcean's Twe...,entertainment,oceans twelve raids box office oceans twelve t...

<!-- -- -->

Splitting the dataset

In [ ]:
X = df["cleaned_text"]
y = df["label"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, stratify = y, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1701,), (426,), (1701,), (426,))

<!-- --- -->

Label Encoding the Target

In [ ]:
le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [ ]:
print("label mapping: ")

label_map = dict(zip(le.classes_, range(len(le.classes_))))
label_map

label mapping:

{'business': 0, 'entertainment': 1, 'politics': 2, 'sport': 3, 'tech': 4}

Saving the encoder

In [ ]:
os.makedirs("..artifacts", exist_ok=True)

with open('..artifacts/label_encoder.pkl', "wb") as f:
    pickle.dump(le, f)

print("Saved successfully!")

Saved successfully!

<!-- ----- -->

Tokenization

In [ ]:
# bepst